<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".compose.ComposeMainActivity"
            android:exported="false"
            android:label="@string/title_activity_compose_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".groupingpoc.DemoMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NetworkPocActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.HybridDemoLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.MemoryTestActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.CPUTestActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".java.JavaTestListActivity"
            android:exported="false" />
        <activity
            android:name=".java.NextActivity"
            android:exported="false" />
        <activity
            android:name=".java.screenTracking.ScreenTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.KotlinTestListActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.NextActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.screenTracking.ScreenTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".java.ANRTestActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.ANRTestActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.JankTestActivity"
            android:exported="false" />
    </application>

</manifest>